fastapi
uvicorn[standard]
gunicorn
mercadopago
python-multipart
pydantic-settings
sentence-transformers
faiss-cpu
PyMuPDF
pdfplumber
numpy
python-jose[cryptography]
stripe
jinja2
flask

