fastapi
uvicorn[standard]
gunicorn
python-multipart
pydantic-settings
stripe
sentence-transformers
faiss-cpu
PyMuPDF
pdfplumber
numpy
jinja2
python-jose[cryptography]
mercadopago
flask

